In [1]:
# Set-Up Imports
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from pathlib import Path
from functools import reduce

In [3]:
# Set to desired file and read it
brands_csv = Path("..","datasets", "product_info.csv")
brands_df = pd.read_csv(brands_csv)

In [6]:
# Show Brand and Ingredients in list
brands_list = brands_df[['rating', 'price_usd']]
brands_list

      rating  price_usd
0     3.6364       35.0
1     4.1538      195.0
2     4.2500      195.0
3     4.4762      195.0
4     3.2308      195.0
...      ...        ...
8489  4.4286      150.0
8490  4.6367      106.0
8491  5.0000      134.0
8492     NaN      167.0
8493     NaN       50.0

[8494 rows x 2 columns]

In [7]:
brands_clean = brands_list.dropna(axis = 0)
brands_clean

      rating  price_usd
0     3.6364       35.0
1     4.1538      195.0
2     4.2500      195.0
3     4.4762      195.0
4     3.2308      195.0
...      ...        ...
8487  3.5000      150.0
8488  5.0000      148.0
8489  4.4286      150.0
8490  4.6367      106.0
8491  5.0000      134.0

[8216 rows x 2 columns]

In [18]:
ratingcount = brands_clean['rating'].unique()
ratingcount

array([3.6364, 4.1538, 4.25  , ..., 4.7365, 4.6214, 4.6367])

In [26]:
brandsplot = brands_clean(['rating']).value_counts()
plt.scatter(brandsplot['rating'],brandsplot['price_usd'])
plt.xlabel('Ratings')
plt.ylabel('Price USD')

TypeError: 'DataFrame' object is not callable

In [21]:
ratingcounts = ratingcount.value_count().nlargest(n=15)
rating = ratingcounts.reset_index(name='counts')
rating

AttributeError: 'numpy.ndarray' object has no attribute 'value_count'